<%- include('base', { title: 'Messages', body: body }) %>

<body class="text-white" style="background-color: #000000;">
    <div class="container-fluid min-vh-100 d-flex flex-column" style="width: 80%;">
      <div class="row flex-grow-1">
        <div class="col-md-4 border-right">
          <div class="p-3">
            <div class="d-flex align-items-center justify-content-between">
                <h3 style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, Helvetica, sans-serif; font-weight: 700; font-size: 20px; line-height: 24px; color: #e7e9ea;">Messages</h3>
                <div class="fs-6">
                    <i id="gear-icon" class="bi bi-gear me-3" style="cursor: pointer;"></i>
                    <i class="bi bi-envelope-at"></i>
                </div>
                
            </div>
            <br>
            <h4 style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, Helvetica, sans-serif; font-weight: 800; font-size: 31px; line-height: 36px; color: #e7e9ea;">Welcome to your inbox!</h4>
            <p style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, Helvetica, sans-serif; font-weight: 400; font-size: 15px; line-height: 20px; color: #71767b;">Search for a user and have private conversations with them.</p>
            <button class="btn p-3" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, Helvetica, sans-serif; font-weight: 700; font-size: 17px; line-height: 20px; color: #ffffff; background-color: #1d9bf0; border-radius: 50px;">Write a message</button>
          </div>
        </div>
        <div id="content-column"  class="col-md-8 border-right d-flex flex-column align-items-center justify-content-center">
          <div class="p-3 text-center">
            <h3 style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, Helvetica, sans-serif; font-weight: 800; font-size: 31px; line-height: 36px; color: #e7e9ea;">Select a message</h3>
            <p style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, Helvetica, sans-serif; font-weight: 400; font-size: 15px; line-height: 20px; color: #71767b;">Choose from your existing conversations, or start a new one.</p>
            <button class="btn p-3" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, Helvetica, sans-serif; font-weight: 700; font-size: 17px; line-height: 20px; color: #ffffff; background-color: #1d9bf0; border-radius: 50px;">New message</button>
          </div>
        </div>
      </div>
    </div>

    <script>
        document.getElementById('gear-icon').addEventListener('click', function() {
            const newContent = `
                <div class="p-3">
                    <div class="d-flex">
                        <div>
                            <i class="bi bi-arrow-left fs-4"></i>
                        </div>
                        <div>
                            <h3 class="mb-5 ms-5" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif; font-weight: 800; font-size: 31px; line-height: 36px; color: #e7e9ea;">Direct Messages</h3>
                        </div>
                        
                    </div>
                    
                    <div class="d-flex align-items-center justify-content-between">
                            <div>
                                <div style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif; font-weight: 400; font-size: 15px; line-height: 20px; color: #e7e9ea;">Show read receipts</div>
                            </div>
                                
                            <div>
                                <input type="checkbox" name="read-receipts" value="read-receipts">
                            </div>
                            
                                
                            
                        
                    </div>
                    <div>Let people you’re messaging with know when you’ve seen their messages. </div>
                </div>
            `;
            const contentColumn = document.getElementById('content-column');
            contentColumn.innerHTML = newContent;
            contentColumn.classList.remove('d-flex', 'flex-column', 'align-items-center', 'justify-content-center');
        });
    </script>
  </body>